<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC   
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"   
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">  
<hibernate-configuration>

    <session-factory>
    	<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
    	<property name="dialect">org.hibernate.dialect.OracleDialect</property>
    	<property name="connection.url">jdbc:oracle:thin:@127.0.0.1:1521:ORCL</property>
    	<property name="connection.username">scott</property>
    	<property name="connection.password">tiger</property>
    	<mapping resource="po/book.hbm.xml"/>
    	<mapping resource="po/user.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
